<div class="banner">
  <h1>Save any kind of films</h1>
</div>

<div class="container">
  <div class="btn-add-list">
    <%= link_to "Create new watch list", new_list_path %>
  </div>
  <div class="cards-grid">
    <% @lists.each do |list| %>
      <%= link_to list do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path list.photo.key, height: 180, crop: :fill %>')">
          <%= list.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
