// Import Google fonts
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap");
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');


// Define fonts for body and headers
$body-font: 'Ubuntu', sans-serif;
// $headers-font: 'Bebas Neue', 'Lobster', cursive;
// $body-font: "Work Sans", "Helvetica", "sans-serif";
// $headers-font: "Nunito", "Helvetica", "sans-serif";

p {
  font-family: $body-font;
  font-weight: 400;
  font-size: 16px;
  margin: 0px !important;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 92px !important;
  font-weight: 400 !important;
  margin: 0px !important;
}

h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 64px !important;
  font-weight: 400 !important;
  margin: 0px !important;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 56px !important;
    font-weight: 400 !important;
    margin: 0px !important;
}

h4 {
  font-family: 'Lobster', cursive;
  font-size: 56px !important;
  font-weight: 400 !important;
  margin: 0px !important;
}

h5 {
  font-family: 'Bebas Neue', cursive;
  font-size: 36px !important;
  font-weight: 400 !important;
  margin: 0px !important;
}

h6 {
  font-family: 'Lobster', cursive;
  font-size: 36px !important;
  font-weight: 400 !important;
  margin: 0px !important;
}
