<div class="container">
  <% unless @results.count == 0 %>
      <div class="search-results">
        <% @results.each do |result| %>
          <%= link_to image_tag(result.poster_url, alt: "movie poster"), result %>
          <%# <img src="<%= result.poster_url" alt="movie poster"> %>
        <% end %>
      </div>
    <% end %>
</div>
