<div class="container">
  <% unless @results.count == 0 %>
      <div class="search-results">
        <% @results.each do |result| %>
          <img src="<%= result.poster_url %>" alt="movie poster">
        <% end %>
      </div>
    <% end %>
</div>
