.top-bar {
  background-color: $red;
  color: white;
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-bar {
  background-color: $red;
  padding: 28px 0px;
}

.top-bar-dark {
  background-color: $dark-gray;
  color: $red;
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-bar-dark {
  background-color: $dark-gray;
  padding: 31px 0px 31px 60px;
}

#rails-logo {
  height: 28px;
}

#tmdb-logo {
  height: 16px;
}
