.top-bar {
  background-color: $red;
  color: white;
  padding: 17px 60px;

  img {
    height: 24px;
    vertical-align: baseline;
  }
}

.bottom-bar {
  background-color: $red;
  padding: 28px 0px;
}

.top-bar-dark {
  background-color: $dark-gray;
  color: $red;
  padding: 20px 60px;
}

.bottom-bar-dark {
  background-color: $dark-gray;
  padding: 31px 0px 31px 60px;
}
