.add-list {
  text-align: end;
  margin: 64px 66px 58px 0px;
}

.btn-add {
  border-radius: 4px;
  background-color: $red;
  padding: 12px 22px;
  width: fit-content;
  color: white;

  &:hover {
    color: white;
    background-color: $dark-red;
  }
}

.btn-back {
  border-radius: 4px;
  background-color: white;
  padding: 12px 22px;
  width: fit-content;
  color: $red;

  &:hover {
    color: $dark-red
  }
}
