.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 300px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// .card-category-drama {
//   background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(drama2.jpg);

//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
// }

// .card-category-terror {
//   background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(terror2.jpg);
//   background-size: cover;
//   background-position: center;
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
// }

// .card-category-comedy {
//   background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(comedy.jpg);
//   background-size: cover;
//   background-position: center;
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
// }
