.footer {
  // background-color: $red;
  // color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(241, 22, 52, 0.5);
  color: rgba(241, 22, 52, 0.5);
  padding: 20px 60px;
  text-align: end;

  p {
    font-size: 12px;
  }

}
